<h1>All events</h1>
<% if @events.any? %>
  <ul>
    <% @events.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %> on <%= event.time %>.
        Hosted by <%= link_to event.creator.name, user_path(event.creator) %>
      </li>
    <% end %>
  </ul>
<% end %>
