@import "bootstrap-sprockets";
@import "bootstrap";

header, footer {
  border: 1px dashed red;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

header {
  padding-top: 30px;
}
